.btn {
  border: none;

  background-color: #ef5350;
  color: #fff;

  padding: 8px 16px;
  margin-right: 6px;
  min-width: 82px;

  cursor: pointer;

  &:hover:not(:disabled) {
    background-color: #c62828;
  }

  &:disabled {
    opacity: 0.5;
    cursor: initial;

    pointer-events: none;
  }
}
