.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1em;
}

table, th, td {
  border: 1px solid black;
  padding: 6px;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
