@import '../.././../../assets/sass/mixins';

@keyframes flick {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(5px);
  }
}

.profileBox {
  @include custom-scroll-bar;

  background-color: #f8d8c8;
  padding: 4px;
  width: 600px;
  height: 460px;
  margin: 2em auto;
  font-family: 'VPPixel';
  display: flex;
  gap: 1em;

  .profileBox-leftSection {
    width: 30%;

    .pkmnData-wrapper {
      @include types;

      h1 {
        position: relative;
        letter-spacing: 5px;

        span {
          position: absolute;
          padding-top: 4px;
          left: 44px;
          &:first-child {
            left: 12px;
          }
        }

        div {
          display: inline-block;
          margin-left: 1em;
        }
      }

      h2 {
        font-size: 2em;
        border: 2px solid #000;
        border-left: none;
        margin-top: 12px;
        padding: 0 12px;
      }

      .pkmnData {
        .pkmnData-image {
          border: 2px solid #000;
          margin-top: 8px;
          padding: 22px 0;

          img {
            width: 100%;
            animation-name: flick;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;
          }
        }

        div {
          margin-top: 4px;

          .pkmnData-types {
            display: flex;
            gap: 4px;
            font-size: 1em;
            text-align: center;
            justify-content: center;
            padding-bottom: 2px;
            div {
              width: 70px;
              padding: 5px 0;
            }
          }

          p {
            border: 2px solid #CBCBCB;
            margin-bottom: 2px;
            font-size: 1.5em;
            padding: 0 12px;
          }
        }
      }
    }
  }

  .profileBox-rightSection {
    width: 70%;

    .boxName {
      background-color: #a9a9f8;
      color: #fff;
      text-shadow: 2px 2px 1px #000;
      margin: 12px 32px;
      padding: 6px 0;
      text-align: center;
      font-size: 1.4em;
    }

    .boxSection {
      background-color: #e0e0a0;
      margin: 6px;
      height: calc(100% - 80px);
      overflow-y: scroll;
      padding-left: 6px;

      img {
        height: 2.9em;
        width: auto;
        margin-bottom: 2em;
        display: inline-block;
        cursor: pointer;

        &:hover {
          animation-name: flick;
          animation-duration: 0.2s;
          animation-iteration-count: infinite;
        }
      }
    }
  }
}
